* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.web {
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.container>div:first-child {
    width:100%;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px silver;
    background-color: black;
    color:blanchedalmond;
    padding:5px;
    border-radius: 15px;
    position:fixed;
    top:0px;
    z-index: 999;
}

.timerContainer{
    width:100%;
    min-height: 350px;
    margin-top: 64px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.timer {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 8px double crimson;
    background-color: palevioletred;
    box-shadow: 0px 0px 20px 2px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: show 1s ease-in;
}

@keyframes show {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1)
    }
}

.count {
    width: 100%;
    height: 55%;
    padding: 35px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inp {
    width: 100%;
    height: 200px;
    border-radius: 6px;
    box-shadow: inset 2px 2px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input{
    border-radius: 3px;
}

.but {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-circle-play {
    font-size: 35px;
    transition: all 0.5;
}

.fa-circle-play:active{
    transform: scale(0.9);
}

.fa-circle-stop {
    font-size: 35px;
    display: none !important;
    transition: all 0.5;
}

.fa-circle-stop:active{
    transform: scale(0.9);
}

.stop {
    display: block !important;
}

.fa-rotate {
    font-size: 35px;
    transition: all 0.5;
}

.bounce{
    animation: bounce 0.5s ease-in;
}

@keyframes bounce{
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}

.rotate{
    animation: rotate 0.5s linear;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.remains {
    width: 100%;
    height: 43%;
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
}

.days {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1.5px 1.5px 5px;
}

.hours {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1.5px 1.5px 5px;
}

.minutes {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1.5px 1.5px 5px;
}

.seconds {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1.5px 1.5px 5px;
}

.fa-plus {
    background-color: white;
    box-shadow: 0 0 5px;
    border-radius: 50%;
    padding: 10px;
    font-size: 19px;
    align-self: self-end;
    margin-right: 10px;
}

.foot{
    width: 100%;
    height: 130px;
    border-radius: 8px;
    padding-left:25px;
    padding-right:25px;
    color: blanchedalmond;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RealDate span:first-child{
    position: relative;
    top: 2px;
}

.RealDate span:nth-child(2){
    position: relative;
    top: 2px;
}

.RealDate span:last-child{
    position: relative;
    top: 2px;
}

.RealTime span:first-child{
    position: relative;
    top: 2px;
}

.RealTime span:last-child{
    position: relative;
    top: 2px;
}

@media only screen and (max-width:350px) {
    .timer {
        width: 280px;
        height: 280px;
    }

    .count {
        padding: 18px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .days {
        width: 34px;
        height: 34px;
        font-size: 20px;
    }

    .hours {
        width: 34px;
        height: 34px;
        font-size: 20px;
    }

    .minutes {
        width: 34px;
        height: 34px;
        font-size: 20px;
    }

    .seconds {
        width: 34px;
        height: 34px;
        font-size: 20px;
    }
}